body {
  background: url("https://i.pinimg.com/originals/03/78/b3/0378b3b6d8bc1bd45dc08ba7473cb357.jpg");
  background-size: cover;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: #FF6B63;
  text-transform: uppercase;
}

#slogan {
  color: #FF6B63;
  font-style: italic;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}
