@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300&display=swap');

body {
  background-color: white;
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: relative;
  margin: 40px;
}


header {
  /* background-color: #FFED74; */
  float: left;
  width: 35%;
}


h1 {
  color: #E00E56;
  font-family: 'Cinzel', serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: normal;
  
}

nav {
  /* background-color: #E8C66A; */
  padding: 20px;
  float: right;
  width: 57%;
}

nav a {
  color: #000;
  margin: 0 32px;
  font-size: 2em;
}

nav a:hover {
  color: white;
  background-color: #E00E56;
  padding: 20px;
}

#headwrapper {
  padding: 20px;
}

#top_wrapper {
  /* background-color: #FFB7CF; */
  padding: 20px;
}

#left {
  /*background-color: violet; */
  padding: 20px;
  float: left;
  width: 35%;
}

#right {
 /*  background-color: pink; */
  padding: 20px;
  float: right;
  width: 57%;
}

#bottom_wrapper {
  padding: 20px;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.aboutus {
  /* background-color: #FFC675; */
  padding:20px;
}


.cafe {
  /*background-color: #FFE2B8;*/
  padding:20px;
}

.coffee {
  /*background-color: #FFE2B8;*/
  padding:20px;
  float: left;
  width: 35%;
  text-align: center;
}

.events {
  /*background-color: #FFE2B8;*/
  padding:20px;
  float: right;
  width: 57%;
  text-align: center;
}



h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}



p {
  text-align: center;
  font-size: 1.5em;
}


.cafe img{
  max-width: 500px;

}

img {
   width: 100%;
   max-width: 600px;
}


footer {
  /*background-color: #FF957E; */
  padding:20px;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}
