@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  background-color: white;
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: relative;
}

#headwrapper {
  padding: 1%;
}

header {
  float: left;
  width: 35%;
  padding: 1%;
  margin-bottom: 2%;
}


h1 {
  color: #E00E56;
  font-family: 'Cinzel', serif;
  font-size: 3.75em;
  letter-spacing: .2em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}


p {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

label {
  color: #000;
  margin: 0 3%;
  font-size: 2em;
  text-align:center;
  display: none;
}

label:hover {
  color: white;
  background-color: #E00E56;
  padding: 1%;
}

#toggle {
  display: none;
}

nav {
  padding: 1%;
  float: right;
  width: 57%;
}

nav a {
  color: #000;
  margin: 0 3%;
  font-size: 2em;
  padding: .5em;
}

nav a:hover {
  color: #000;
  border-bottom: .25em solid #E00E56;
}


#top_wrapper {
  padding: 1%;
}


#aboutus {
  padding: 0 2%;
  float: left;
  width: 60%;
  margin-top: 0;

}

#aboutus img {
  padding-top: 0;
  margin: none;
}

#aboutus p {
  padding: 1.5%;
  text-align: left;
}


#cafe {
  background-color: #E00E56;
  color: #fff;
  padding: 1.5%;
  float: right;
  width: 40%;
}

#cafe p,h2 {
  
  padding: 0 1em;
}

#cafe img{
  max-width: 500px;
  padding: 4%;
}


#bottom_wrapper {
  padding: 1%;
}


#coffee {
  padding: 3%;
  margin: 2%;
  width: 100%;
  clear: both;
}

#coffe h2 {
  text-align: center;
}

#coffee p {
  color: #fff;
  width: 24%;
  margin: 1em .5% 0;
  padding: 1em;
  float: left;
  background: #E00E56;
}

#events {
  padding: 1em;
  width: 60%;
  color: #fff;
  font-size: 1.75em;
  background-color: #e00e56a6;
  margin:auto;
}

#events h2 {
  margin: 1em;
  text-decoration:underline;
}

#events ul {
  list-style-type:none;
}

#events li {
  padding: .2em;
}

img {
   width: 100%;
   max-width: 600px;
   padding: 3%;
}


footer {
  padding:1%;
  font-size: 1.5em;
  background-color: #E00E56;
}

footer a:hover {
  color: #fff;
}





@media screen and (max-width: 1400px){
  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1100px){
  
  nav a {
    font-size: 1.5em;
  }
  
}

@media screen and (max-width: 1000px){
  
  #aboutus {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
  
  
  #cafe {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }
  
  #events {
    width: 100%;
  }
}


@media screen and (max-width: 800px){
  
  header {
    float: none;
    text-align: center;
    padding: 1%;
    margin: auto;
    margin-bottom: 2%;
  }
  
  nav {
    float: none;
    margin: auto;
    padding: 2em;
    display:none;
    
  }
  
  nav a {
    display: block;
    padding: 2%;
  }

  
  label {
    display: block;
  }
  
  #toggle:checked + nav {
    display: block;
  }
  
  #events, #coffee {
    font-size: .75em;
  }
  

    
  
}
